<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Para ejemplo 2 Broadcast Receiver -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Para ejemplo 2 Services -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinAndroid2023">
        <activity
            android:name=".services.ejercicio.EjercicioActivity"
            android:exported="false" />
        <activity
            android:name=".services.ejemplo3.Ejemplo3Activity"
            android:exported="false" />
        <activity
            android:name=".services.ejemplo2.Ejemplo2Activity"
            android:exported="false" />
        <activity
            android:name=".services.ejemplo1.Ejemplo1Activity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceivers.ejercicio.EjercicioActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceivers.ejemplo3.Ejemplo3Activity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceivers.ejemplo2.Ejemplo2Activity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceivers.ejemplo1.Ejemplo1Activity"
            android:exported="false" />
        <activity
            android:name=".services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceivers.BroadcastReceiversActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ejemplo 1 - Services -->
        <service
            android:name=".services.ejemplo1.BackgroundService"
            android:enabled="true"
            android:exported="false" />

        <!-- Ejemplo 2 - Services -->
        <service
            android:name=".services.ejemplo2.DownloadService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>